<form (submit)="onSubmit($event)">
  <div class="form-group">
    <label class="font-weight-bold" for="firstName">First name</label>
    <input
      class="form-control"
      type="text"
      id="firstName"
      aria-describedby="firstNameHelp"
      placeholder="First name"
      value="{{ author.firstName }}"
      name="firstName"
      [(ngModel)]="author.firstName">
  </div>
  <div class="form-group">
    <label class="font-weight-bold" for="lastName">Last name</label>
    <input
      class="form-control"
      type="text"
      id="lastName"
      placeholder="Last name"
      value="{{ author.lastName }}"
      name="lastName"
      [(ngModel)]="author.lastName">
  </div>
  <ng-content></ng-content>
  <button routerLink="/" type="submit" class="btn btn-secondary">Cancel</button>
</form>
