<div *ngIf="!loading; else isLoading">

  <!-- author table -->
  <table class="table table-striped">
    <thead>
      <tr #sort>
        <th>#</th>
        <th>
          First Name
          <i class="fa fa-sort" [appSortBy]="'firstName'"></i>
        </th>
        <th>
          Last Name
          <i class="fa fa-sort" [appSortBy]="'lastName'"></i>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="author-item" *ngFor="let author of authors">
        <td>{{ author.id }}</td>
        <td>{{ author.firstName }}</td>
        <td>{{ author.lastName }}</td>
        <!-- author actions -->
        <td>
          <div class="author-action" appDropdown>
            <a>
              <i class="fa fa-ellipsis-v fa-2x text-muted"></i>
            </a>
            <div class="author-menu-action dropdown-menu app-dropdown pt-3 pb-2">
              <a class="dropdown-item mb-2" [routerLink]="['/authors', author.id, 'update']">
                <i class="text-primary fa fa-edit"></i> Edit Recipe
              </a>
              <a class="dropdown-item" href="#">
                <i class="text-danger fa fa-trash"></i> Delete Recipe
              </a>
            </div>
          </div>
        </td>
        <!-- end actions -->
      </tr>
    </tbody>
  </table>
  <!-- end table -->

  <app-pagination [pager]="pager" (onSetPage)="setPage($event)"></app-pagination>
</div>

<!-- spinner while loads the authors  -->
<ng-template #isLoading>
  Loading <i class="fa fa-spinner"></i>
</ng-template>
